{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"importOrder": ["^react$", "^react-dom$", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"jsonRecursiveSort": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-sort-json"],
	"printWidth": 150,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true
}
